src/coral-modeling/.venv/
src/.venv/
src/frontend/package-lock.json
src/model-viewer/node_modules/
src/rpi/build/
src/rpi/main.spec
src/rpi/dist/
src/rpi/__pycache__/
src/control/bin/
src/control/lib/
src/browser-gltf/node_modules/
src/coral-modeling/result.*
src/frontend/public/result.glb
